@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}
// Define variables for background and text colors in /src/scss/base/vars.scss
$body-color: #f9f9f9;
$text-color: #333;

// Use the variables to set the background and text colors in /src/scss/base/base.scss
body {
  background-color: $body-color;
  color: $text-color;
}
:root {
  --body-color: #ff0000;
  --text-color: #000000;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

.emoji {
  color: var(--text-color);
}

.button {
  background-color: var(--body-color);
  color: var(--text-color);
}

